.jumbotron {
  text-align: center;
  background-color: #440734;
  color: #fff;
}

#map {
  height: 400px;
  width: 100%;
}

#refresh {
  float: right;
}

.output {
  margin: 10px 0 0;
}

.output li {
  list-style: none;
  border: 2px solid #932880;
  background: rgba(255, 255, 255, 0.5);;
  width: auto;
  border-radius: 5px;
  text-align: center;
}

#info {
  display: none;
}

.clickable {
  cursor: pointer;
  color: rgb(68, 7, 52);
}

.clickable:hover {
  text-decoration: underline;
}

.clickable:active {
  color: purple;
}

.container {
  background: gray;
  height: auto;
}
